<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
		  <th scope="col">Calories per piece</th>
		  <th scope="col">Purchase date</th>
		  <th scope="col">Expiration Date</th>
		  <th scope="col">Consumption Date</th>
		  <th scope="col">Actions</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
		  <td>{{ item.calories }}</td>
		  <td>{{ item.purchaseDate }}</td>
		  <td>{{ item.expirationDate }}</td>
		  <td>{{ item.consumptionDate }}</td>
		  <td><button class="btn btn-danger" (click)="deleteItem(item)">Delete</button>
                <button (click)="updateItem(item.id)" class="btn btn-info" style="margin-left: 10px">Update</button> 
			 </td> 
        </tr>
      </tbody>
    </table>
  </div>
</div>
