  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
		    <li class="list-inline-item"><a routerLink="/login" class="btn btn-info">Login</a></li>
            <li class="list-inline-item"><a routerLink="/groceries" class="btn btn-info"> List groceries</a></li>
            <li class="list-inline-item"><a  routerLink="/additem" class="btn btn-info">Add item</a></li>
			<li class="list-inline-item"><a  routerLink="/monthlyreport" class="btn btn-info">Monthly Report</a></li>
			<li class="list-inline-item"><a  routerLink="/weeklyreport" class="btn btn-info">Weekly Report</a></li>
			
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
