<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #itemForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="item.name" 
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter food item name"
          required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
	  
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" [(ngModel)]="item.quantity" 
          class="form-control"
          id="quantity"
          name="quantity"
          placeholder="Enter the quantity"
          required #quantity="ngModel">
        <div [hidden]="!quantity.pristine" class="alert alert-danger">Quantity is required</div>
      </div>
	  
	  <div class="form-group">
        <label for="calories">Calories</label>
        <input type="text" [(ngModel)]="item.calories" 
          class="form-control"
          id="calories"
          name="calories"
          placeholder="Enter food item calories"
          required #calories="ngModel">
      </div>
      <div [hidden]="!calories.pristine" class="alert alert-danger">Calories are required</div>
	  
	  <div class="form-group">
        <label for="purchaseDate">Purchase date</label>
        <input type="text" [(ngModel)]="item.purchaseDate" 
          class="form-control"
          id="purchaseDate"
          name="purchaseDate"
          placeholder="Enter food item purchase date"
          required #purchaseDate="ngModel">
      </div>
      <div [hidden]="!purchaseDate.pristine" class="alert alert-danger">Purchase date is required</div>
	  
	  <div class="form-group">
        <label for="expirationDate">Expiration date</label>
        <input type="text" [(ngModel)]="item.expirationDate" 
          class="form-control"
          id="expirationDate"
          name="expirationDate"
          placeholder="Enter food item expiration date"
          required #expirationDate="ngModel">
      </div>
      <div [hidden]="!expirationDate.pristine" class="alert alert-danger">Expiration date is required</div>
	  
      <button type="submit" [disabled]="!itemForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
